
.rodape {
    background-color: black;
    display: flex;
    height: 68px;
    color: #5C5F19;
    opacity: 0.4;
    border: 1px solid #5C5F19;
    transition: opacity 0.3s;
    font-size: 32px;
    font-family: 'Irish Grover';
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Adicionado para centralizar o texto */
}


.rodape::placeholder {
    color: #5C5F19; /* Cor do placeholder */
}

.rodape:hover, .login-input:focus {
    opacity: 1; /* Aumenta a opacidade ao passar o mouse ou focar */
    
}