/* PaginaInicio.css */

/* Fundo da página */
.bodyinicio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  background-image: url('/icons/backgrund entrar.jpeg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  min-height: 100vh; /* Garante que o fundo cubra toda a altura da tela */
}

/* Navegação */
.nav {
  background-color: rgba(0, 0, 0, 0.7); /* Fundo preto semi-transparente */
  color: #1c748f;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.nav a {
  text-decoration: none;
  color: #ffd700; /* Cor dourada para links */
  margin: 0 8px;
  font-weight: bold;
}

.nav a:hover {
  color: #ffffff; /* Branco ao passar o mouse */
}

/* Container das instruções */
.instructions-container {
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo preto semi-transparente */
  color: #fff; /* Texto branco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.page-header h2 {
  color: #ffd700; /* Cor dourada para o título */
  font-size: 32px;
  margin-bottom: 10px;
}

.instructions h3 {
  color: #ff6347; /* Subtítulo em laranja */
  margin-bottom: 10px;
}

.instructions ul {
  list-style: disc;
  padding-left: 20px;
}

.instructions ul li {
  margin-bottom: 10px;
  color: #fff; /* Texto branco */
}

.instructions ul li strong {
  color: #ffd700; /* Destaque em dourado */
}




