.roleta-euro {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.roleta-euro__sectors {
  width: 300px; /* Define a área de exibição da imagem */
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roulette-image {
  width: 90%; /* Ajusta a imagem para preencher a largura */
  height: 90%;
  
}
.botoes {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 colunas de tamanho igual */
  width: 200px; /* Ajusta a imagem para preencher a largura */
  border: 3px solid rgb(34, 189, 73);
  
}
.botoes button {
   color: #07f54e;
  font-size: 14px; /* Fonte menor */
  width: 100%; /* Faz com que o botão preencha totalmente a coluna */
  
  border: 1px solid rgb(49, 175, 18);
  
}
/* Cor específica para o botão 0 */
.bet-number-button:nth-child(1) {
  background-color: #4CAF50; /* Verde */
  color: #000000;
}
/* Cor vermelha para os números citados */
.bet-number-button:nth-child(33),
.bet-number-button:nth-child(20),
.bet-number-button:nth-child(22),
.bet-number-button:nth-child(26),
.bet-number-button:nth-child(35),
.bet-number-button:nth-child(28),
.bet-number-button:nth-child(37),
.bet-number-button:nth-child(31),
.bet-number-button:nth-child(24),
.bet-number-button:nth-child(6),
.bet-number-button:nth-child(17),
.bet-number-button:nth-child(2),
.bet-number-button:nth-child(15),
.bet-number-button:nth-child(10),
.bet-number-button:nth-child(19),
.bet-number-button:nth-child(8),
.bet-number-button:nth-child(13),
.bet-number-button:nth-child(4) {
  background-color: #fd0000; /* Vermelho */
}
/* Cor preta para os números não citados */
.bet-number-button {
  background-color: #000000; /* Preto por padrão */
}
/* Estilo para os botões "Girar" e "Limpar Apostas" */
.spin-button, .clear-button {
  padding: 10px 20px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px; /* Botões retangulares */
  width: 120px; /* Mesmo tamanho */
}
.clear-button {
  background-color: #FF5555; /* Vermelho */
}
.spin-button:disabled, .clear-button:disabled {
  background-color: #0a6b12;
  cursor: not-allowed;
}
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}


.legenda{
  color: #32d332;
  font-family: 'Irish Grover';
}

.fundoroleta{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* 0.5 representa 50% de opacidade */
  border: 3px solid rgb(189, 34, 106);
  border-radius: 10%;
  opacity: 0.9;
  padding: 10px;
  width: 300px;
  justify-content: center;
  
  
  
}
.color{
  color: #f5079a;
  font-family: 'Irish Grover';
  font-size: larger;
}
.color2{
  color: #8d0a0a;
  font-family: 'Irish Grover';
  font-size: larger;
}