.roleta-euro {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.roleta-euro__sectors {
  width: 300px; /* Define a área de exibição da imagem */
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roulette-image {
  width: 100%; /* Ajusta a imagem para preencher a largura */
  height: 100%; /* Ajusta a imagem para preencher a altura */
  object-fit: cover; /* Cobre o contêiner */
}
.botoes {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 colunas de tamanho igual */
}
.botoes button {
   color: #4CAF50;
  font-size: 14px; /* Fonte menor */
  width: 100%; /* Faz com que o botão preencha totalmente a coluna */
  height: 20px; /* Define uma altura fixa para manter o tamanho uniforme */
}
/* Cor específica para o botão 0 */
.bet-number-button:nth-child(1) {
  background-color: #4CAF50; /* Verde */
  color: #000000;
}
/* Cor vermelha para os números citados */
.bet-number-button:nth-child(33),
.bet-number-button:nth-child(20),
.bet-number-button:nth-child(22),
.bet-number-button:nth-child(26),
.bet-number-button:nth-child(35),
.bet-number-button:nth-child(28),
.bet-number-button:nth-child(37),
.bet-number-button:nth-child(31),
.bet-number-button:nth-child(24),
.bet-number-button:nth-child(6),
.bet-number-button:nth-child(17),
.bet-number-button:nth-child(2),
.bet-number-button:nth-child(15),
.bet-number-button:nth-child(10),
.bet-number-button:nth-child(19),
.bet-number-button:nth-child(8),
.bet-number-button:nth-child(13),
.bet-number-button:nth-child(4) {
  background-color: #FF0000; /* Vermelho */
}
/* Cor preta para os números não citados */
.bet-number-button {
  background-color: #000000; /* Preto por padrão */
}
/* Estilo para os botões "Girar" e "Limpar Apostas" */
.spin-button, .clear-button {
  padding: 10px 20px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px; /* Botões retangulares */
  width: 120px; /* Mesmo tamanho */
}
.clear-button {
  background-color: #FF5555; /* Vermelho */
}
.spin-button:disabled, .clear-button:disabled {
  background-color: #0a6b12;
  cursor: not-allowed;
}
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}


.legenda{
  color: #4CAF50;
  font-family: 'Irish Grover';
}
.strong{
  color: #ffffff;
}