.avatar_root {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: url('public/icons/composited_duck_casino.png');
  display: flex;
  justify-content: end;
  align-items: end;
  background-size: cover;
  background-position: center;

}

.avatar_perfil {
  height: 100px;
  width: 100px;
  background-color: blue;
  font-size: 30px;
  border-radius: 50%;
  font-family: 'Irish Grover';
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}
