.cabeca {
  display: flex;
  background-size: cover;
  background-position: center;
  background-image: url('/pato do menu.jpeg');
  height: 120px; 
  border: 1px solid #195f3c; 
  align-items: flex-end; 
  justify-content: center; 
  padding: 10px; 
}


.page-title {
  font-size: 26px;
  font-weight: 700;
  color: #19179b; 
  text-align: center;
  margin: 20px 0; 
}

.page-text {
  font-size: 18px;   line-height: 1.6;   color: #333;   margin: 15px 20px; }

@media (max-width: 768px) {
  .cabeca {
      height: 130px;       
  }

  .page-title {
      font-size: 22px;   }

  .page-text {
      font-size: 16px;   }
}
.social-icons {
  display: flex;
  gap: 30px; /* Espaçamento padrão entre os ícones */
  justify-content: center; /* Centraliza os ícones */
  
}

@keyframes singleColorGlow {
  0% {
    text-shadow: 0 0 0px #FFD700; /* Sem brilho no início */
  }
  50% {
    text-shadow: 0 0 10px #4bd156, 0 0 20px #4bd156, 0 0 30px #4bd156, 0 0 40px #4bd156; /* Brilho máximo */
  }
  75% {
    text-shadow: 0 0 0px #FFD700; /* Desliga o brilho */
  }
}

.social-icons a {
  animation: singleColorGlow 6s infinite ease-in-out; /* Ciclo suave de 6 segundos */
  transition: transform 0.4s ease; /* Suaviza o efeito de hover */
  color: #FFD700; /* Define a cor padrão */
}

.social-icons a:hover {
  transform: scale(1.2); /* Aumenta o tamanho ao passar o mouse */
}


/* Responsividade para telas menores */
@media (max-width: 768px) {
  .social-icons {
    gap: 20px; /* Reduz o espaçamento entre ícones */
  }
  
  .social-icons a {
    font-size: 40px; /* Reduz o tamanho dos ícones */
  }
}

@media (max-width: 480px) {
  .social-icons {
    
    gap: 15px; /* Espaçamento menor */
  }

  .social-icons a {
    font-size: 30px; /* Ícones ainda menores */
  }
}
