.btentrar {
    display: flex;
    width: 400px;
    height: 90px;
    background-color: black; /* Cor de fundo padrão */
    color: #5C5F19; /* Cor do texto */
    border-radius: 40px; /* Bordas arredondadas */
    border: 5px solid #000000; /* Borda */
    font-size: 64px; /* Tamanho da fonte */
    font-family: 'Irish Grover', cursive; /* Fonte personalizada */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto */
    position: absolute; /* Permite definir a posição exata */
    opacity: 0.7;
}

/* Estilo ao passar o mouse */
.btentrar:hover {
    opacity: 1; /* Aumenta a opacidade ao passar o mouse */
    color: rgb(189, 186, 34); /* Muda a cor do texto para preto, se desejado */
}

