body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  background-image: url('public/backgrund entrar.jpeg');
  background-position: center;
  height: 100vh;
  background-size: cover;
}


