body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  background-image: url('/icons/backgrund entrar.jpeg');
  background-position: center;
  height: 100vh;
  background-size: cover;
  
  animation: mudaImagens 50s infinite; /* A animação durará 10 segundos e será contínua */
  transition: background-image 3s ease-in-out;
}

@keyframes mudaImagens {
  50% {
    background-image: url('/icons/a.webp');
    background-size: cover;
    background-position: center;
  }
  55% {
    background-image: url('/icons/b.webp');
    background-size: cover;
    background-position: center;
  }
  50% {
    background-image: url('/icons/c.webp');
    background-size: cover;
    background-position: center;
  }
  75% {
    background-image: url('/icons/d.webp');
    background-size: cover;
    background-position: center;
  }
  100% {
    background-image: url('/icons//e.webp');
    background-size: cover;
    background-position: center;
  }
  50% {
    background-image: url('/icons//e.webp');
    background-size: cover;
    background-position: center;
  }
}
