
.admin-content {
   
  
    
  }
  .admin-content button {
   
    background-color: #19179b;
    color: white;
    border: none;
    cursor: pointer;  
  }
  .admin-content button:hover {
    background-color: #2a2a8a;
  }
  .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .delete-button:hover {
    background-color: darkred;
  }
  .user-card {
    height: 50%px;
    width: 70%;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: #ddd;
    background-color: rgb(0, 0, 0);
  }
  
  .delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  .bodyadm{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-grow: 1;
    flex-direction: column;
    background-image: url('/icons/backgrund entrar.jpeg');
    background-position: center;
  }