.btentrar {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto */
    background-color: rgba(32, 185, 70, 0.5); /* 0.5 representa 50% de opacidade */
    color: #fdfdfd; /* Cor do texto */
    border-radius: 30px; /* Bordas arredondadas */
    font-size: 50px; /* Tamanho da fonte */
    font-family: 'Irish Grover', cursive; /* Fonte personalizada */
    opacity: 0.7;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
   /*} border: 3px solid #5C5F19;*/
   border: 3px solid rgb(34, 189, 47);
}
/* Estilo ao passar o mouse */
.btentrar:hover {
    opacity: 1; /* Aumenta a opacidade ao passar o mouse */
    color: rgb(189, 186, 34); /* Muda a cor do texto*/
}
