/* Container principal */
.logout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #fff7fb3a;
  padding: 20px;
  text-align: center;
  opacity: 0.9;
  
}

/* Estilo do título */
.logout-container h1 {
  font-size: 40px;
  color: #020201;
  margin-bottom: 10px;
  font-family: 'Irish Grover', cursive;
}

/* Estilo do texto */
.logout-container p {
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
}

/* Botão de logout */
.logout-button {
  background-color: #e63946;
  color: white;
  font-size: 18px;
  font-family: 'Irish Grover', cursive;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: auto;
}

/* Efeito hover no botão */
.logout-button:hover {
  background-color: #d62828;
  transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
  .logout-container h1 {
      font-size: 24px;
  }

  .logout-container p {
      font-size: 16px;
  }

  .logout-button {
      font-size: 16px;
      padding: 8px 16px;
  }
}
