
.modal {
    position: fixed; 
    top: 15%; 
    bottom: 15%; 
    left: 50%;
    transform: translate(-50%, 0); 
    max-height: 70%; 
    overflow-y: auto; 
    background-color: rgba(20, 20, 20, 0.95); 
    width: 80%; 
    max-width: 400px; 
    height: auto; 
    padding: 20px; 
    border-radius: 12px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
    border: 2px solid #DAA520; 
    color: #FFD700; 
    z-index: 1000; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
}


.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 999; 
}


.modal-conteudo button {
    margin: 10px 0;
    padding: 12px 24px; 
    font-size: 16px; 
    background-color: #DAA520; 
    color: #000; 
    border: 2px solid #B8860B; 
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: auto; 
    max-width: 250px; 
    text-align: center;
}


.modal-conteudo button:hover {
    background-color: #C3A715; 
    transform: scale(1.05); 
}


.modal-fechar {
    padding: 8px 20px;
    font-size: 16px;
    background-color: #E63946; 
    color: #FFFFFF; 
    border: 2px solid #D62828; 
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.modal-fechar:hover {
    background-color: #D62828; 
    transform: scale(1.05); 
}


.modal-conteudo {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    align-items: center;
    width: 100%;
}
