.input {
    border-radius: 40px;
    width: 100%; /* Largura completa do container */
    height: 60px; /* Altura fixa */
    border: 5px solid black;
    opacity: 0.8;
    background-color: black;
    text-align: center; /* Centraliza o texto */
    font-size: 32px; /* Tamanho do texto */
    font-family: 'Irish Grover'; /* Fonte com fallback */
    color: #5C5F19;
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */
    
   
}
.input:hover, .input:focus {
    opacity: 1; /* Aumenta a opacidade ao passar o mouse ou focar */
    
}
  

.titulo{
    display: flex;
    font-size: 32px;
    font-family: 'Irish Grover';
    justify-content: center;
    color: rgb(0, 0, 0);
    
}
