.fundoInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #346b3b;     border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.596);     box-sizing: border-box;
    margin: 150px auto 0 auto; 
    border: 1px solid #a1cc3c;
    }

.mascote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; }

.mascote-img {
    max-width: 600px;     max-height: 600px;     transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #ffffff;
    background-color: #46ca6e;     border: 1px solid #a1cc3c;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.mascote-img:hover {
    
    box-shadow: 0px 6px 15px rgba(12, 21, 139, 0.4); }

@media (max-width: 768px) {
    .fundoInput {
        padding: 15px;
    }

    .titulo {
        font-size: 13px;
    }

    .input {
        font-size: 13px;
    }

    button {
        font-size: 14px;
    }

    .link-cadastro {
        font-size: 12px;
    }

        .mascote-img {
        max-width: 300px;         max-height: 300px;
    }
}
